@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Stream.Models.Foundations.Videos
@model VideoMetadata

<h2>Add Video</h2>

<form asp-action="AddVideo" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
