@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Video Yuklash";
}

<h2>Video Yuklash</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<form asp-controller="Video" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Sarlavha:</label>
        <input type="text" class="form-control" name="Title" required />
    </div>

    <button type="submit" class="btn btn-primary">Yuklash</button>
</form>
